.center-img {
 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -70%);

}
a {
    color: white;
  }
h1{

color: white;    
font-family: 'Roboto', sans-serif;    

}
body {
  background-image: url('https://source.unsplash.com/user/nasa');
}
